.linechart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  border-radius: var(--interior-radius);
}

#title {
  width: 100%;
  margin-left: 22px;
  text-align: start;
}

#line-chart {
  width: 95%;
  height: 100%;
}

.linechart-container #title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--night);
  padding-left: 22px;
  text-align: left;
}

.linechart {
  height: 212px;
  max-width: 100%;
  width: auto;
}
