<nav>
  <div>
    <img src="Avolta_Logo.png" alt="Avolta Logo" class="img-logo" />
    <p id="subtitle">Customer Portal</p>
  </div>
  <div class="services-container">
    <ul>
      <li>
        <mat-icon aria-hidden="false" aria-label="home">dashboard</mat-icon>
        <a routerLink="/home-page" routerLinkActive="active">Home Page</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="critical threads">warning</mat-icon>
        <a routerLink="/critical-threads" routerLinkActive="active">Critical Threads</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="itsm">support_agent</mat-icon>
        <a routerLink="/itsm-servicenow" routerLinkActive="active">ITSM (ServiceNow)</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="soc">security</mat-icon>
        <a routerLink="/soc-splunk" routerLinkActive="active">SOC (splunk)</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="edr">shield</mat-icon>
        <a routerLink="/edr-crowdstrike-sentinelone" routerLinkActive="active">EDR (Crowdstrike & Sentinel One)</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="epp">mail</mat-icon>
        <a routerLink="/epp-proofpoint" routerLinkActive="active">EPP (Proofpoint)</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="advanced hunting">search</mat-icon>
        <a routerLink="/advanced-thread-hunting" routerLinkActive="active">Advanced Thread Hunting</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="incident response">report</mat-icon>
        <a routerLink="/incident-response" routerLinkActive="active">Incident Response</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="ticket analysis">analytics</mat-icon>
        <a routerLink="/ticket-analysis" routerLinkActive="active">Ticket Analysis</a>
      </li>
      <li>
        <mat-icon aria-hidden="false" aria-label="project sla">fact_check</mat-icon>
        <a routerLink="/project-sla-compliance" routerLinkActive="active">Project SLA Compliance</a>
      </li>
    </ul>
    <!-- Accont section -->
    <div class="account-container">
      <ul>
        <li>
          <mat-icon aria-hidden="false" aria-label="account">account_circle</mat-icon>
          <a routerLink="/account" routerLinkActive="active">Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
