<div class="card-container">
  <div class="title-container">
    <p id="title">{{ KpiTitle }}</p>
    <p id="subtitle">{{ KpiSubtitle }}</p>
  </div>
  <div class="kpi-value-container">
    <div class="kpi-value-groups">
      <p #kpiContainerOne class="value"></p>
      <p class="value-title">Low</p>
    </div>
    <div class="kpi-value-groups">
      <p #kpiContainerTwo class="value"></p>
      <p class="value-title">Medium</p>
    </div>
    <div class="kpi-value-groups">
      <p #kpiContainerThree class="value"></p>
      <p class="value-title">High</p>
    </div>
  </div>
  <div class="indicator-container">
    <div class="icon-container">
      <mat-icon id="icon-indicator" class="indicator-icon" aria-hidden="false" aria-label="indicator">arrow_upward</mat-icon>
    </div>
    <p id="indicator">Increased since last month</p>
  </div>
</div>
