<app-header title="Account Settings"></app-header>
<div class="dashboard-content">
  <!-- <app-dashboard-test></app-dashboard-test>
  <app-servicenow-test></app-servicenow-test> -->
  <div class="main-grid-container">
    <div *ngIf="isLoading; else profileContent" class="skeleton-container">
      <div class="skeleton-photo"></div>
      <div class="skeleton-info">
        <div class="skeleton-line title"></div>
        <div class="skeleton-line short"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line short"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line short"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
      </div>
    </div>

    <ng-template #profileContent>
      <div class="profile-container" *ngIf="user">
        <div class="profile-photo">
          <img
            *ngIf="photoUrl; else noPhoto"
            [src]="photoUrl"
            alt="Foto de perfil"
          />
          <ng-template #noPhoto>
            <div class="placeholder-photo">No Photo</div>
          </ng-template>
        </div>

        <div class="profile-info">
          <div class="account-title">
            <h2>{{ user.displayName || "Unamed" }}</h2>
            <div class="mail-container">
              <mat-icon class="mail-icon" aria-hidden="false" aria-label="email">email</mat-icon>
              <p class="highlight">
                <strong>Email:</strong> {{ user.mail || "Without main" }}
              </p>
            </div>
          </div>
          <!-- Grid -->
          <div class="items-grid">
            <div class="item item-1">
              <mat-icon class="item-icon">person</mat-icon>
              <p>
                <strong>Username:</strong>
                {{ user.userPrincipalName || "Without user" }}
              </p>
            </div>
            <div class="item item-2">
              <mat-icon class="item-icon">badge</mat-icon>
              <p>
                <strong>Name:</strong> {{ user.givenName || "Without name" }}
                {{ user.surname || "" }}
              </p>
            </div>
            <div class="item item-3">
              <mat-icon class="item-icon">assignment_ind</mat-icon>
              <p><strong>ID:</strong> {{ user.id || "Without ID" }}</p>
            </div>
            <div class="item item-4">
              <mat-icon class="item-icon">work</mat-icon>
              <p>
                <strong>Position:</strong>
                {{ user.jobTitle || "Without user Position" }}
              </p>
            </div>
            <div class="item item-5">
              <mat-icon class="item-icon">business</mat-icon>
              <p>
                <strong>Department:</strong>
                {{ user.department || "Without Department" }}
              </p>
            </div>
            <div class="item item-6">
              <mat-icon class="item-icon">place</mat-icon>
              <p>
                <strong>Office Location:</strong>
                {{ user.officeLocation || "Without office location" }}
              </p>
            </div>
            <div class="item item-7">
              <mat-icon class="item-icon">location_city</mat-icon>
              <p><strong>City:</strong> {{ user.city || "Without city" }}</p>
            </div>
            <div class="item item-8">
              <mat-icon class="item-icon">public</mat-icon>
              <p>
                <strong>Country:</strong>
                {{ user.country || "Without country" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="session-controlls-container">
      <h4>Logout</h4>
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</div>
