.dashboard-content {
  margin-top: 22px;
  background-color: var(--sand);
  padding: 18px;
  border-radius: var(--general-radius);
}

.kpi-object-container {
  display: flex;
  flex-direction: row;
}

.main-grid-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 100%;
}

/* Para el modal */
/* Contenedor overlay */
.full-screen-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  /* transición de apertura/cierre */
  opacity: 0; /* inicio cerrado */
  pointer-events: none; /* bloquea clicks mientras está cerrado */
  transition: opacity 250ms ease, pointer-events 0s linear 250ms;
}

/* Overlay abierto */
.full-screen-overlay.open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms ease; /* sin delay al abrir */
}

/* Overlay cerrado */
.full-screen-overlay.closed {
  opacity: 0;
  pointer-events: none; /* bloquea clicks al cerrar */
  transition: opacity 250ms ease, pointer-events 0s linear 250ms;
}
