.mail-icon {
  font-size: 32px;
  color: #8f53f0;
  vertical-align: middle;
  margin-right: 8px;
}
.item-icon {
  font-size: 32px;
  color: #373737;
  vertical-align: middle;
  margin-right: 12px;
}
.items-grid .item {
  display: flex;
  align-items: center;
}