<app-header
  title="Project SLA Compliance"
  [subtitle]="
    'Track service level adherence and project performance indicators.'
  "
>
  <!-- Para los recuadros del header, que le mencione se utiliza esta parte
   cada <app-header> si se fija tiene propiedades con los datos, y si es o no mainKpi con
    isKpiValue o notKpiValue, aqui solo necesita pasar el valor por medio de las data que ponga usted
    en el codigo de JAVASCRIPT -->
  <div kpiObject class="kpi-object-container">
    <!-- <app-header-card
      [KPICard]="notMainKpi"
      [KpiValue]="mttValue"
      [KpiTitle]="'Mean Time to Resolution'"
    ></app-header-card>
    <app-header-card
      [KPICard]="notMainKpi"
      [KpiValue]="numberOfOpenedTickets"
      [KpiTitle]="'Opened Tickets'"
    ></app-header-card>
    <app-header-card
      [KPICard]="isMainKPI"
      [KpiValue]="22"
      [KpiTitle]="'Critical Vulnerabilities'"
    ></app-header-card> -->
  </div>
</app-header>

<!-- AI Summary Modal component -->
<app-ai-summary-advertisement
  [AIItemsRequest]="['requestObject', 'requestObject2']"
></app-ai-summary-advertisement>

<div class="dashboard-content">
  <!-- <app-dashboard-test></app-dashboard-test>
  <app-servicenow-test></app-servicenow-test> -->
  <div class="main-grid-container">
    <div class="grid-item item1">
      <app-sla-card
        [groupOne]="mttdGroupLow"
        [groupTwo]="mttdGroupMedium"
        [groupThree]="mttdGroupHigh"
        [KpiTitle]="'MTTD'"
        [KpiSubtitle]="'Mean Time to Detect per Criticality'"
      ></app-sla-card>
    </div>
    <div class="grid-item item2">
      <app-sla-card
        [groupOne]="mttrGroupLow"
        [groupTwo]="mttrGroupMedium"
        [groupThree]="mttrGroupHigh"
        [KpiTitle]="'MTTR'"
        [KpiSubtitle]="'Mean Time to Respond per Criticality'"
      ></app-sla-card>
    </div>
    <div class="grid-item item3">
      <app-sla-card
        [groupOne]="mttrsGroupLow"
        [groupTwo]="mttrsGroupMedium"
        [groupThree]="mttrsGroupHigh"
        [KpiTitle]="'MTTRs'"
        [KpiSubtitle]="'Mean Time to Resolve per Criticality'"
      ></app-sla-card>
    </div>
    <div class="grid-item item4">
      <app-sla-single-card
        [groupOne]="falsePositiveRateGroupLow"
        [groupTwo]="falsePositiveRateGroupMedium"
        [groupThree]="falsePositiveRateGroupHigh"
        [KpiTitle]="'False Positive Rate'"
        [KpiSubtitle]="'False Positive Rate'"
      ></app-sla-single-card>
    </div>
    <div class="grid-item item5">
      <app-sla-single-card
        [groupOne]="breachedTicketsGroupLow"
        [groupTwo]="breachedTicketsGroupMedium"
        [groupThree]="breachedTicketsGroupHigh"
        [KpiTitle]="'Breached SLA Tickets'"
        [KpiSubtitle]="'Breached SLA Tickets'"
      ></app-sla-single-card>
    </div>
    <div class="grid-item item6">
      <app-sla-single-card
        [groupOne]="coveredEndpointsGroupLow"
        [groupTwo]="coveredEndpointsGroupMedium"
        [groupThree]="coveredEndpointsGroupHigh"
        [KpiTitle]="'Covered Endpoints'"
        [KpiSubtitle]="'Covered Endpoints'"
      ></app-sla-single-card>
    </div>
  </div>
</div>
