<app-header title="ServiceNow Dashboard"></app-header>
<div class="dashboard-content">
  <!-- <app-dashboard-test></app-dashboard-test>
  <app-servicenow-test></app-servicenow-test> -->
  <div class="main-grid-container">
    <div class="grid-item item1">
      <app-barchart></app-barchart>
    </div>
    <div class="grid-item item2">
      <app-piechart></app-piechart>
    </div>
    <div class="grid-item item3">3</div>
    <div class="grid-item item4">4</div>
    <div class="grid-item item5">5</div>
    <div class="grid-item item6">6</div>
  </div>
</div>
