.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: auto;
  background-color: var(--sand);
  border-radius: var(--general-radius);
  padding: 8px;
}

h1 {
  color: var(--night);
  padding: 12px;
}

.header-card-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  max-width: 100%;
  width: auto;
}
