<div class="header-container">
  <h1>{{ title }}</h1>
  <div class="header-card-container">
    <app-header-card
      [KPICard]="notMainKpi"
      [KpiValue]="12"
      [KpiTitle]="'Mean Time to Resolution'"
    ></app-header-card>
    <app-header-card
      [KPICard]="notMainKpi"
      [KpiValue]="13"
      [KpiTitle]="'Opened Tickets'"
    ></app-header-card>
    <app-header-card
      [KPICard]="isMainKPI"
      [KpiValue]="22"
      [KpiTitle]="'Critical Vulnerabilities'"
    ></app-header-card>
  </div>
</div>
