.clear-filters-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--bg);
  gap: 8px;
  padding: 12px;
  border-radius: var(--interior-radius);
  border: 2px solid var(--core);
  font-size: 0.9rem;

  color: var(--night);
}

.clear-filters-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
