<div class="full-screen-overlay">
  <div class="chat-container">
    <div class="chat-header">
      <div class="title-container">
        <mat-icon class="header-icon" aria-hidden="false" aria-label="chat">chat</mat-icon>
        <h4 id="title">Chatbot</h4>
      </div>
      <div class="close-button" (click)="closeModal()">
        <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
      </div>
    </div>

    <div class="messages" #messageContainer>
      <div
        *ngFor="let msg of messages"
        class="message-wrapper"
        [ngClass]="msg.sender"
      >
        <div class="message">
          <strong>{{ msg.sender === 'user' ? 'Tú' : 'Chatbot' }}:</strong>
          <span> {{ msg.message }}</span>
          <br />
          <small class="time">{{ msg.timestamp | date : 'shortTime' }}</small>
        </div>
      </div>
    </div>

    <div class="input-wrapper">
      <form (ngSubmit)="sendMessage()" id="mytextarea" class="input-form">
        <div class="textarea-wrapper">
          <textarea
            [(ngModel)]="userInput"
            name="chatInput"
            placeholder="Escribe tu mensaje..."
            rows="1"
            #autoResize
            (input)="adjustTextareaHeight(autoResize)"
            (keydown.enter)="sendOnEnter($event)"
            required
          ></textarea>
        </div>

        <button type="submit" aria-label="Enviar">
          <mat-icon class="send-icon" aria-hidden="false" aria-label="send">send</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>
