<app-header
  title="EDR (Crowdstrike & Sentinel One)"
  [subtitle]="
    'Endpoint activity tracking and advanced malware defense analytics.'
  "
>
  <div kpiObject class="kpi-object-container">
    <app-header-card
      [KPICard]="notMainKpi"
      [KpiTitle]="'Total Detections'"
      [group]="totalDetections"
    ></app-header-card>
    <app-header-card
      [KPICard]="notMainKpi"
      [KpiTitle]="'Compromised Hosts'"
      [group]="compromisedHosts"
    ></app-header-card>
    <app-header-card
      [KPICard]="isMainKPI"
      [KpiTitle]="'Critical Detections'"
      [group]="criticalDetections"
    ></app-header-card>
  </div>
</app-header>

<!-- AI Summary Modal component -->
<app-ai-summary-advertisement
  [AIItemsRequest]="['requestObject', 'requestObject2']"
></app-ai-summary-advertisement>

<div class="dashboard-content">
  <div class="main-grid-container">
    <!-- 1. Threats by type -->
    <div class="grid-item item1">
      <app-custom-barchart
        [dimension]="typeDim"
        [group]="typeGroup"
        xAxisLabel="Threat Type"
        yAxisLabel="Detections"
        title="Detections by Threat Type"
      ></app-custom-barchart>
    </div>

    <!-- 2. Threats by severity -->
    <div class="grid-item item2">
      <app-custom-barchart
        [dimension]="sevDim"
        [group]="sevGroup"
        xAxisLabel="Severity"
        yAxisLabel="Count"
        title="Detections by Severity"
      ></app-custom-barchart>
    </div>

    <!-- 3. Critical detections over time -->
    <div class="grid-item item3">
      <app-custom-linechart
        [dimention]="dateDim"
        [group]="criticalGroup"
        [title]="'Critical Detections Over Time'"
      ></app-custom-linechart>
    </div>

    <!-- 4. Source distribution -->
    <div class="grid-item item4">
      <app-piechart
        [title]="'Source (Crowdstrike vs SentinelOne)'"
        [dimension]="srcDim"
        [group]="srcGroup"
      ></app-piechart>
    </div>

    <!-- 5. Attack vectors -->
    <div class="grid-item item5">
      <app-radar-chart
        [dimension]="vectorDim"
        [group]="vectorGroup"
        [title]="'Attack Vectors'"
      ></app-radar-chart>
    </div>
  </div>
</div>
