@if (isLoading) {
<div class="loading-screen">
  <div class="spinner"></div>
  <p>Verificando sesión...</p>
</div>
} @else {
<div class="app-container">
  <!-- Sidebar -->
  <aside class="sidebar" [class.closed]="isSidebarClosed">
    <button class="close-button" (click)="toggleSidebar()">☰</button>
    <div class="nav-container">
      <app-navbar-component></app-navbar-component>
    </div>
  </aside>

  <!-- Contenedor principal -->
  <div class="main-content">
    <div
      class="mobile-navbar"
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
      "
    >
      <div>
        <section class="close-button" (click)="toggleMobileMenu()">
          <mat-icon>menu</mat-icon>
        </section>
        <div
          class="mobile-menu"
          [class.closed]="isMobileMenuClosed"
          style="width: 100%; background-color: var(--sand); margin-left: -7px"
        >
          <app-mobile-navbar [closeMenu]="closeMobileMenu"></app-mobile-navbar>
        </div>
      </div>
      <div
        style="
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        "
      >
        <p>{{ headerInfo.pageName }}</p>
      </div>
    </div>
    <!-- Aquí carga el router -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>

<!-- Modals -->

<!-- Session Modal -->
<div
  class="full-screen-overlay"
  [ngClass]="{ open: modalState, closed: !modalState }"
>
  <app-session-modal></app-session-modal>
</div>

<!-- Chatbot Modal -->
<div
  class="full-screen-chatbot-modal"
  [ngClass]="{ open: chatbotModalState, closed: !chatbotModalState }"
>
  <app-chatbot-modal></app-chatbot-modal>
</div>

<!-- AI Summary Modal -->
<div
  class="full-screen-ai-summary-modal"
  [ngClass]="{ open: aiSummaryModalState, closed: !aiSummaryModalState }"
>
  <app-ai-summary-modal></app-ai-summary-modal>
</div>
}
