@if (isLoading) {
<div class="loading-screen">
  <div class="spinner"></div>
  <p>Verificando sesión...</p>
</div>
} @else {
<div class="app-container">
  <!-- Sidebar -->
  <aside class="sidebar" [class.closed]="isSidebarClosed">
    <button class="close-button" (click)="toggleSidebar()">☰</button>
    <div class="nav-container">
      <app-navbar-component></app-navbar-component>
    </div>
  </aside>

  <!-- Contenedor principal -->
  <div class="main-content">
    <!-- Aquí carga el router -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
}
