.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  margin: 22px;
}

#title {
  width: 100%;
  margin-left: 12px;
  text-align: start;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--night);
  padding-left: 22px;
  text-align: left;
}