<div class="full-screen-overlay">
  <div class="chat-container">
    <div class="chat-header">
      <div class="title-container">
        <mat-icon class="header-icon" aria-hidden="false" aria-label="AI Summary">summarize</mat-icon>
        <h4 id="title">AI Summary</h4>
      </div>
      <div class="close-button" (click)="closeModal()">
        <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
      </div>
    </div>
    <div class="ai-summary-response" [innerHTML]="summaryHtml"></div>
  </div>
</div>
