.modal {
  max-width: 100%;
  width: auto;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 1.25rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: var(--core);
  color: var(--bg);
  border: none;
  border-radius: 12px;
  padding: 12px;
}

.button:hover {
  cursor: pointer;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  overflow-y: scroll;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chatbot styles - MOBILE */
.chat-container {
  width: 80%;
  max-width: 100%;
  height: 80vh; /* evita que se salga de pantalla */
  margin: auto;
  background-color: var(--bg);
  border-radius: var(--general-radius);
  padding: 1.25rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

/* Evita que el texto se salga del área */
.ai-summary-response {
  overflow-wrap: break-word; /* fuerza salto de línea */
  word-break: break-word;
  max-width: 100%;
  font-size: small;
}

/* Styles just for mobile */
@media screen and (max-width: 768px) {
  /* Chatbot styles - MOBILE */
  .chat-container {
    overflow-y: auto; /* <-- contenido scrolleable */
    overflow-x: hidden; /* <-- evita desbordes horizontales */
  }
}

/* Estilos para desktop */
@media screen and (min-width: 768px) {
  .modal {
    max-width: 100%;
    width: auto;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 1.25rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  }

  /* Chatbot styles */
  .chat-container {
    width: 1000px;
    max-width: 1000px;
    height: 500px;
    margin: auto;
    background-color: var(--bg);
    border-radius: var(--general-radius);
    padding: 1.25rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  }

  #title {
    font-size: 1.5rem;
    color: var(--core);
  }

  .chat-header .close-button:hover {
    cursor: pointer;
  }

  /* AI Summary Response Styles */
  .ai-summary-response {
    width: 98%;
    height: 92%;
    overflow-y: auto;
    padding-left: 18px;
    padding-right: -5px;
    padding-top: 18px;
    padding-bottom: -2px;
  }
}
