// ...existing code...
.header-icon {
  font-size: 42px;
  color: #8f53f0;
  vertical-align: middle;
  margin-right: 8px;
}
.close-button mat-icon {
  font-size: 24px;
  color: #434343;
}
 // ...existing code...