<div
  class="card-container"
  [ngClass]="{ kpiCardTrue: !KPICard, kpiCardFalse: KPICard }"
>
  <p id="title">{{ KpiTitle }}</p>
  <div class="mobile-kpi-container">
    <p #kpiContainer id="kpi-value-container" class="value"></p>
    <div class="indicator-container">
      <div class="icon-container">
        <mat-icon id="icon-indicator" class="indicator-icon" aria-hidden="false" aria-label="indicator" >trending_up</mat-icon>
      </div>
      <p id="indicator">Increased since last month</p>
    </div>
  </div>
</div>
