.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--bg);
  border-radius: var(--interior-radius);
  padding: 8px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 8px;
}

.card-container.kpiCardFalse {
  border: 2px solid;
  border-color: var(--core);
  padding: 6px;
  padding-left: 18px;
  padding-right: 18px;
}

.card-container #title {
  color: var(--night);
  font-size: 0.8rem;
  font-weight: 500;
}

.card-container .value {
  color: var(--night);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0px;
}

.indicator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.indicator-container .icon-container {
  border: 2px solid var(--core);
  display: flex;
  align-items: center;
  padding: 0px;
  border-radius: 8px;
  height: 14px;
}

.indicator-container #icon-indicator {
  color: var(--core);
  padding: 0px;
}

.indicator-container #indicator {
  color: var(--night);
  font-size: 0.7rem;
  font-weight: 400;
}

.mobile-kpi-container {
  display: flex;
  flex-direction: column;
}

/* Just Mobile Styles */
@media screen and (max-width: 768px) {
  /* En móvil todos son uno debajo del otro */
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bg);
    border-radius: var(--interior-radius);
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 8px;
  }
  .indicator-container #indicator {
    display: none;
  }
  .mobile-kpi-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card-container #title {
    color: var(--night);
    font-size: 0.7rem;
    font-weight: 500;
  }
  #kpi-value-container {
    font-size: 1.8rem;
  }
}
